@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";

@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/700.css";
@import "@fontsource/montserrat/800.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.splitpanes__pane {
  overflow: scroll !important;
}

.splitpanes.modern-theme .splitpanes__pane {
  background-color: hsl(var(--b1));
}

.splitpanes__splitter {
  
  position: relative;
  cursor: grab;
}
.splitpanes.modern-theme .splitpanes__splitter {
  background-color: theme(backgroundColor.indigo.200);
  position: relative;
}

.splitpanes__splitter:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 0.4s;
  background-color: theme(backgroundColor.indigo.200);
  opacity: 0;
  z-index: 1;
}
.splitpanes__splitter:hover:before {
  opacity: 1;
}
.splitpanes--vertical > .splitpanes__splitter:before {
  left: -3px;
  right: -3px;
  height: 100%;
}
.splitpanes--horizontal > .splitpanes__splitter:before {
  top: -3px;
  bottom: -3px;
  width: 100%;
}
